# R files
.Rproj.user
.Rprofile
.RData
.Rhistory

# C++ files
*.o*
*.dll
.*.so

# folders
data-raw/north_america_checked.csv
R/arcive
data-raw
old-code/data-backup/

# file types
*.html

# specific files
doc
Meta
