# R files
.Rproj.user
.Rprofile
.RData
.Rhistory

# C++ files
*.o*
*.dll
.*.so

# folders
data-raw
/doc/
/Meta/

README.html
README_cache

# built versions of the package
builds/
figure/

# files created by the build process
check/
vignettes/
inst/doc

# OS files
.DS_store
